 <h1>编辑书籍内容</h1>
<%= simple_form_for @book, :html => { :multipart => true} do |f| %>
    <%= f.select :category_id,@categories%>
    <%= f.input :title,label: "书名" %>
    <%= f.input :description,label:"简介" %>
    <%= f.input :author,label:"作者" %>
    <%= f.button :submit,:"提交内容" %>
<% end %>