<div class="row">  
   <div class="col-md-4"> 
    <%= image_tag @book.book_img.url(:original), class: "bookShow" %>
    </div>
    <div class="col-md-8">
        <h2><%= @book.title %></h2>
        <p><%= @book.created_at %></p>
        <h3><span>作者: </span><%= @book.author %></h3>

        <p><%= @book.description %></p>
    </div>
</div> 
<%= link_to "返回首页",root_path %>
<% if user_signed_in? %>

<% if @book.user_id == current_user.id %>
    <%= link_to "编辑",edit_book_path(@book) %>
    <%= link_to "删除", book_path(@book),method: :delete, data: {confirm:"点击确认删除该书"} %>
<% end %>
<% end %>